{% extends 'base.html.twig' %}

{% block title %}Hello BookRoomController!{% endblock %}

{% block body %}
    {% for room in room %}
        <div class="container">

            <h1 class="my-4">
                {{ room.name }}
                <small>&euro;{{ room.price }}</small>
            </h1>

            <div class="row">

                <div class="col-md-8">
                    <img class="img-fluid" src={{ vich_uploader_asset(room, 'imageFile') }} width="700px">
                </div>

                <div class="col-md-4">
                    <h3 class="my-3">Kamer beschrijving</h3>
                    <p>{{ room.description }}</p>
                    <h3 class="my-3">Kamer details</h3>
                    <ul>
                        <li>Bedden {{ room.bed }}</li>
                    </ul>
                </div>

            </div>

            {{ include('book_room/_form.html.twig') }}

            {#<from>
                <div class="form-group">
                    <label>Check in date</label>
                    <input class="form-control" id="checkInDate" type='datetime-local' required><br>
                    <label>Check out date</label>
                    <input class="form-control" id="checkOutDate" type='datetime-local' required><br>

                    <input class="btn btn-primary" type="submit">
                </div>
            </from>#}

        </div>
    {% endfor %}
    <script>
        // var currentdate = new Date().toISOString().slice(0,10);
        //
        // document.getElementById('checkInDate').value = currentdate;
        // console.log(currentdate)

        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours()+3 + ":" + today.getMinutes();
        var dateTime = date+' '+time;

        console.log(dateTime);
        document.getElementById('checkInDate').value = dateTime;

    </script>
{% endblock %}
